body {
    background-color: rgb(70, 140, 70);
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}

.content {
    text-align: center;
    background: rgb(90, 140, 90);
    width: 1200px;
    height: 960px;
    padding: 30px;
    border: 5px solid rgb(0, 110, 0);
}

.img1 {
    width: 100px;
    height: 100px;
} 
.name {
    font-style: italic;
}

.headline {
    font-size: x-large;
    font-weight: bold;
}